@import "../../variables.scss";

.home-container {
	background-color: $alt-white-color;

	section:not(.rental-details, .home-banner) {
		margin-bottom: 7rem;
	}
	.home__bg-img-container {
		width: 700px;
		position: absolute;
		right: 0;
		z-index: 1;
		display: none;

		@media (width > 800px) {
			display: block;
		}
	}

	.home-banner {
		background-color: $dark-color-d2;
		text-align: center;

		width: 100%;
		padding: 2rem 0;
		gap: 1rem;

		h2 {
			font-size: 3.25rem;
			color: white;
		}

		p {
			font-size: 1.5rem;
			color: white;
		}
	}

	.download {
		width: 100%;
		padding: 5rem 0;
		background-image: url("../../assets/images/others/downloadbg.png");
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
		margin-bottom: 0 !important;

		.download__container {
			max-width: $max-width;
			width: 100%;
			.download__content {
				gap: 2rem;
				max-width: 550px;
				align-items: flex-start;

				div {
					flex-wrap: wrap;
					gap: 1rem;
				}
			}
		}
	}
}
