@import "../../variables.scss";

.home-container {
	background-color: $alt-white-color;
	gap: 8rem;
	.home__bg-img-container {
		width: 700px;
		position: absolute;
		right: 0;
		z-index: 1;
		display: none;

		@media (width > 800px) {
			display: block;
		}
	}

	.vehicle-models {
		width: 100%;
		max-width: $max-width;
		text-align: center;

		.model-picker-container {
			margin: 3rem 0;
			.model-picker__list {
				gap: 0.5rem;

				.model-picker__list__item {
					width: 100%;
					font-weight: 600;
					font-size: 1.25rem;
					text-align: left;
					background-color: $light-color-l2;
					border: transparent;
					padding: 0.8rem 3.5rem;
					cursor: pointer;

					&.model-selected {
						background-color: $primary-color;
						color: white;
					}
				}
			}
		}

		.model-picker__image-container {
			max-width: 500px;
		}

		.model-picker__details {

			.model-picker__details__head {
				background-color: $primary-color;
				color: white;
				font-size: 1.125rem;
				padding: 0.25rem 1.25rem;

				span {
					font-size: 1.7rem;
				}
			}

			.model-picker__details_row {
				border-bottom: 2px solid #706f7b;
				border-left: 2px solid #706f7b;

				
			}
		}
	}
}
